    <!--<div class="container">-->
    <!-- <header>-->

    <!-- </header>-->
     <%= link_to hitokotos_path do %>
         <%= image_tag "kikagaku2.jpg", class: "test" %>
     <% end %>

<!--    </div>-->
    
<!--    <%= yield %>-->
<!--  </body>-->
<!--</html>-->

