html{
    height: 100%;
}

body{
    height: 100%;
}

header{
    background-color: lightpink;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
}
header p{
    font-size: 3rem;
    color: gray;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}    

.top_image{
    width: 100%;
    height: auto;
}

.top_menu li{
    float: left;
}

.top_menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

.top_menu li a:hover{
    text-decoration: underline;
}

.top_menu li{
     float: left;
     width: auto;
}

.list_table{
    text-align: center;
    margin: auto;
    margin: auto;
}
.error_message{
    text-align: center;
}

h1{
    color: darkgray;
    text-align: center;
}

h2{
    color: darkgray;
    text-align: center;
}

h3{
    color: darkgray;
    text-align: center;
} 

p{
    text-align: center;
}

.hitokoto_title{
    color: darkgray;
    font-size:25px;
    text-align: center;
}

td{
    padding:20px;
}

.submit_button{
    color:black;
    text-align: center;
} 

.link{
    text-align: center;
}

footer{
    background-color: lightpink;
    height: 80px;
    width: 100%;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    display: table;
}

footer p{
    font-size: 1rem;
    color: darkgray;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

// Place all the styles related to the hitokotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
